config account 'wan'
	option enabled '1'
	option interface 'wan'
	option username 'YOUR_ACCOUNT_A'
	option password 'YOUR_PASSWORD_A'

config account 'wan2'
	option enabled '1'
	option interface 'lan1'
	option username 'YOUR_ACCOUNT_B_OR_ACCOUNT_A'
	option password 'YOUR_PASSWORD_B_OR_PASSWORD_A'

